@import 'variables';

.aboutPage {
  width: 100%;
}

.aboutImage {
  width: 100%;
  height: calc(80vh - #{$navBar_height});
}

.aboutCopy {
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-top: $layoutSpacing;
}

.logoContainer {
  display: flex;
  flex-flow: row;
  gap: $defaultSpacing;
}

.aboutClients, .aboutDescription {
  padding: $defaultSpacing 0;
}

.aboutClients {
  & p {
    margin-top: calc(#{$defaultSpacing} / 2);
  }
}

.clientsTitle {
  @extend .smallFont;
  @extend .uppercase;
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .aboutCopy {
    flex-flow: row;
  }
  .aboutClients, .aboutDescription {
    width: 50%;
    padding: 0;
  }
}