@import 'variables';

.homepage {
  width: 100%;
  min-height: calc(100vh - #{$navBar_height});
}

.homepageAboveFold {
  @extend .grid;
  padding-top: 10vmax;
  padding-bottom: 10vmax;
}

.aboveFoldHeader {
  grid-area: 5/1/5/26;
}

.homepageSlideText, .homepageSlideLink {
  margin: calc(#{$defaultSpacing} * 2) 0;
}

.homepageSlideLink {
  display: block;
}

.homepageBackgroundImageContainer {
  position: relative;
}

.homepageImageOverlay {
  position: relative;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(#{$defaultSpacing} * 4) 0;
}

.homepageImageContainer {
  width: 90%;
  margin: calc(#{$defaultSpacing} * 2) 0;
  @include screenshotAspectRatio;
}


.featuredWorkText {
  padding: 0 $defaultSpacing;
}

.featuredWorkLink {
  margin-top: calc(#{$defaultSpacing} * 2);
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .homepageAboveFold {
    min-height: 75vh;
    padding: 0;
  }

  .aboveFoldHeader {
    grid-area: 4/1/11/24;
  }

  .homepageSlideText, .homepageSlideLink {
    width: 50%;
    margin: calc(#{$defaultSpacing} * 4) 0;
  }

  .featuredWorkText {
    max-width: 50%;
  }
}