@import 'variables';

.homePage {
  @extend .grid;
  width: 100%;
  height: calc(100vh - #{$navBar_height});
}

.header {
  grid-area: 5/1/5/26;
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .header {
  grid-area: 7/2/14/20;
  }
}