@import 'variables';

.homepage {
  width: 100%;
  min-height: calc(100vh - #{$navBar_height});
}

.homepageAboveFold {
  @extend .grid;
}

.aboveFoldHeader {
  grid-area: 5/1/5/26;
}

.homepageSlide {
  border: 1px dashed;
}

.homepageSlideText {
  padding: calc(#{$defaultSpacing} * 2) 0;
}

.homepageSlideBackgroundImage {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: calc(#{$defaultSpacing} * 4) 0;
}

.homepageFeaturedWorkImage {
  width: 90% !important;
  padding: calc(#{$defaultSpacing} * 2) 0;
}

.featuredWorkText {
  padding: 0 $defaultSpacing;
}

.featuredWorkLink {
  text-decoration: underline;
  padding-top: calc(#{$defaultSpacing} * 2);
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .homepageAboveFold {
    min-height: 75vh;
  }

  .aboveFoldHeader {
  grid-area: 4/2/11/22;
  }

  .homepageSlideText {
    width: 50%;
    padding: calc(#{$defaultSpacing} * 4) 0;
  }

  .featuredWorkText {
    max-width: 50%;
  }
}