@import 'variables';

.projectDetailPage {
  width: 100%;
}

.projectDetailAboveFold {
  @extend .grid;
  padding-top: 10vmax;
}

.projectDetailAboveFoldContent {
  grid-area: 5/1/5/26;
}

.projectDetailAboveFoldHeader {
  margin-bottom: $defaultSpacing;
}

.projectSummary {
  margin-top: calc(#{$defaultSpacing} * 2);
}

.projectDetailsHeadline {
  border-top: 1px solid $whiteMutedFontColor;
  margin-top: calc(#{$defaultSpacing} * 2);
  .projectDetailsHeadlineContainer {
    margin-top: calc(#{$defaultSpacing} * 2);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .projectHeadlineColumn {
      margin-bottom: $defaultSpacing;
    }
    .projectHeadlineTitle {
      @extend .smallFont;
      @extend .uppercase;
    }
    .projectHeadlineText {
    }
    & p {
      margin-top: calc(#{$defaultSpacing} / 2);
    }
  }
}

.projectDetailFooterSection {
  @extend .grid;
  border-top: 1px solid #{$whiteMutedFontColor};
}

.projectDetailFooter {
  grid-area: 5/1/5/26;
}

.projectLinksContainer, .projectSkills {
  margin-top: calc(#{$defaultSpacing} * 2);
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .projectDetailAboveFold {
    padding-bottom: 10vmax;
  }

  .projectDetailAboveFoldContent {
    grid-area: 1/5/11/23;
  }

  .projectDetailsHeadline {
    .projectDetailsHeadlineContainer {
      flex-flow: row;
      .projectHeadlineColumn {
        margin-bottom: 0;
      }
    }
  }

  .projectDetailFooterSection {
    padding: calc(#{$defaultSpacing} * 2) 0;
  }

  .projectDetailFooter {
    grid-area: 1/5/11/23;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .projectDetailsHeadline, .projectDetailFooterSection {
    border-color: #{$darkMutedFontColor};
  }
}