@import 'variables';

.projectDetailPage {
  width: 100%;
  border: 1px dashed;
}

.projectDetailAboveFold {
  @extend .grid;
  padding-top: 10vmax;
  padding-bottom: 10vmax;
}

.projectDetailAboveFoldContent {
  grid-area: 1/1/1/26;
}

.projectDetailAboveFoldHeader {
  margin-bottom: $defaultSpacing;
}

.projectDetailSlide {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px dashed;
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .projectDetailAboveFoldContent {
    grid-area: 1/5/11/23;
  }
  .projectDetailSlide {
    &.desktop {
      flex-flow: column;
    }
    &.iphone {
      flex-flow: row;
    }
  }
  .projectDetailSlideImage, .projectDetailSlideText {
    flex: 0 0 50%;
  }
  .projectDetailSlide:nth-child(even) {
    flex-flow: row-reverse;
  }
}