@import 'variables';

.skillsAboveFold {
  @extend .grid;
}

.skillsHeader {
  grid-area: 6/5/6/23;
  text-align: center;
}

.skillsGrid {
  @extend .grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: calc(#{$defaultSpacing} * 2);
  grid-template-rows: auto;
  grid-row-gap: $layoutSpacing;
}

.serviceBlock {
  li {
    list-style: none;
  }
}

.serviceTile {
  margin-bottom: $defaultSpacing;
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}