@import 'variables';

.desktopDeviceContainer {
  transform: scale(0.5);
}

.iphoneDeviceContainer {
  transform: scale(0.75);
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .desktopDeviceContainer, .iphoneDeviceContainer {
    transform: scale(1);
  }
}