/* simulate a Macbook device frame
* adapted from:
* https://codepen.io/Naymapl/pen/XZyBVe
*/
.macbook,
.macbook::before,
.macbook::after,
.macbook *,
.macbook *::before,
.macbook *::after {
  box-sizing: border-box;
  display: block;
}

.macbook {
  position: relative;
  transform: scale(1);
  z-index: 1;
  margin: 1rem auto;
}

.macbook .deviceContent {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.macbook {
  // height: 864px;
  width: 740px;
}

.macbook .deviceFrame {
  background: #0d0d0d;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #c8cacb;
  height: 428px;
  margin: 0 auto;
  padding: 29px 19px 39px 19px;
  position: relative;
  width: 614px;
}

.macbook .deviceFrame::after {
  background: #272626;
  border-radius: 0 0 20px 20px;
  bottom: 2px;
  content: "";
  height: 26px;
  left: 2px;
  position: absolute;
  width: 610px;
}

.macbook .deviceFrame::before {
  bottom: 10px;
  color: #c8cacb;
  content: "MacBook";
  font-size: 12px;
  height: 16px;
  left: 50%;
  line-height: 16px;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 1;
}

.macbook .deviceContent {
  border: 2px solid #121212;
  border-radius: 2px;
  height: 360px;
  width: 576px;
}

.macbook .devicePower {
  background: #e2e3e4;
  border: solid #d5d6d8;
  border-radius: 2px 2px 0 0;
  border-width: 0 4px;
  height: 4px;
  margin-top: -10px;
  position: relative;
  width: 740px;
  z-index: 9;
}

.macbook .devicePower::after,
.macbook .devicePower::before {
  content: "";
  position: absolute;
}

.macbook .devicePower::after {
  background: radial-gradient(circle at center, #e2e3e4 0, #e2e3e4 85%, #a0a3a7 100%);
  border: solid #adb0b3;
  border-width: 0 2px;
  height: 4px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
}

.macbook .devicePower::before {
  background: #a0a3a7;
  border-radius: 0 0 180px 180px/ 0 0 10px 10px;
  box-shadow: inset 0 -2px 6px 0 #474a4d;
  height: 10px;
  left: -4px;
  margin: 0 auto;
  top: 4px;
  width: 740px;
}

.macbook .deviceFrame {
  box-shadow: inset 0 0 0 2px #767a7d;
}

.macbook .devicePower {
  background: #909496;
  border-color: #767a7d;
}

.macbook .devicePower::after {
  background: radial-gradient(circle at center, #909496 0, #909496 85%, #515456 100%);
  border-color: #5d6163;
}

.macbook .devicePower::before {
  background: #515456;
  box-shadow: inset 0 -2px 6px 0 black;
}

/* simulate an iPhone X device frame
* adapted from:
* https://codepen.io/adielhercules/pen/dJJGBQ
*/
.iphoneX {
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  background-color: #7371ee;
  background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;

  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  // home button indicator
  &:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }

  // frontal camera/speaker frame
  &:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }

  i,
  b,
  s,
  span {
    position: absolute;
    display: block;
    color: transparent;
  }

  // speaker
  i {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  }

  // camera
  b {
    left: 10%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);

    &:after {
      content: '';
      position: absolute;
      background-color: #2d4d76;
      width: 6px;
      height: 6px;
      top: 2px;
      left: 2px;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  // time
  s {
    top: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
  }

  // action buttons
  span {
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    left: 30px;

    & + span {
      left: auto;
      right: 30px;
    }
  }
}