@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: $navBar_height;
  min-height: calc(100vh - #{$navBar_height});
  background-color: $backgroundColor;
  padding: 0 $layoutSpacing;
  border: 1px dashed;
}