@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: $navBar_height;
  min-height: 100vh;
  background-color: $backgroundColor;
  padding-right: 5vw;
  padding-left: $layoutSpacing;
  border: 1px dashed;
}