@import 'variables';

.nav {
  position: fixed;
  z-index: $topLayer;
  top: 0;
  left: 0;
  width: 100vw;
  height: $navBar_height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #{$whiteBackgroundColor};
}

.navLink {
  font-size: $mobileNavFontSize;
  line-height: 1.6em;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #{$darkFontColor};
}

.navLink, .logo {
  text-decoration: none;
}

.logo {
  @extend .largeFont;
}

.navLinks {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.navLinksContainer {
  position: fixed;
  top: $navBar_height;
  left: 0;
  width: 100%;
  height: calc(100% - #{$navBar_height});
  overflow-y: hidden;
}

.logo, .hamburgerBtn {
  padding: 0 $layoutSpacing;
}

.mobileOpen {
  .navLink {
    animation: fadeIn 1000ms;
  }
  .navLinks {
    transition: left 0ms linear 100ms;
    left: 0;
  }
  .navLinksContainer {
    visibility: visible;
    background-color: #{$whiteBackgroundColor};
  }
}
.mobileClosed {
  .navLinks {
    left: 100%;
  }
  .navLinksContainer {
    visibility: hidden;
  }
}

/* CSS hamburger button animation */
.hamburgerBtn span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #{$darkFontColor};
  transform-origin: center;
  transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
  &:last-child {
    margin-bottom: 0;
  }
}

.hamburgerBtn .openHamburgerBtn span {
  opacity: 1;
  &:first-child {
    transform: rotate(45deg) translate(0px, 6px);
  }
  &:last-child {
    transform: rotate(-45deg) translate(0, -6px);
  }
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .hamburgerBtn {
    display: none;
  }
  .logo {
    padding: 0;
    margin: 0 $layoutSpacing;
  }
  .navLink {
    font-size: unset;
    width: auto;
    margin: 0 $defaultSpacing;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      text-decoration: underline;
    }
  }
  .navLinks {
    position: static;
    flex-flow: row;
    width: auto;
    height: auto;
    margin: 0 $layoutSpacing;
  }
  .navLinksContainer {
    position: static;
    width: auto;
    height: auto;
  }
  .mobileOpen, .mobileClosed {
    .navLinksContainer {
      background-color: #{$whiteBackgroundColor};
      visibility: visible;
      transition: none;
    }
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .nav {
    background-color: #{$blackBackgroundColor};
  }
  .navLink {
    color: #{$whiteFontColor};
  }
  .hamburgerBtn span {
    background-color: #{$whiteFontColor};
  }
  .mobileOpen, .mobileClosed {
    .navLinksContainer {
      background-color: #{$blackBackgroundColor};
    }
  }
}