@import 'variables';

.projectNav {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projectNavLink {
  margin: calc(#{$defaultSpacing}/4);
  padding: 0 calc(#{$defaultSpacing}/4);
  color: #{$darkMutedFontColor};
  text-decoration: none;
  &.active {
    color: $darkFontColor;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .projectNavLink {
    color: #{$whiteMutedFontColor};
    &.active {
      color: #{$whiteFontColor};
    }
  }
}