@import 'variables';

.projectNav {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projectNavLink {
  margin: calc(#{$defaultSpacing}/4);
  padding: 0 calc(#{$defaultSpacing}/4);
  color: $darkGrey;
  font-size: $projectNavFontSize;
  text-decoration: none;
  &.active {
    color: $fontColor;
  }
}