@import 'variables';

.screenshotImageContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 20/14;
  // fallback
  @supports not (aspect-ratio: 20/14) {
    padding-bottom: calc(14 / 20 * 100%);
    height: 0;
  }
}

.screenshotScrollContainer {
  position: absolute;

  &.scrollable {
    overflow: scroll;
    width: 80%;
    aspect-ratio: 16/10;
    // fallback
    @supports not (aspect-ratio: 16/10) {
      padding-bottom: calc(10 / 16 * 100%);
      height: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.fullscreen {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.screenshotImage {
  height: auto !important;
}