@import 'variables';

.screenshotImageContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include fullBleedAspectRatio;
  border: 1px dashed pink;
}

.screenshotScrollContainer {
  position: absolute;
  @include screenshotAspectRatio;

  &.scrollable {
    overflow: scroll;
    width: 80%;
  }
  &.fullscreen {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.screenshotImage {
  height: auto !important;
}

/* Large Tablet or Desktop */
@media screen and (min-width: $desktop_breakpoint) {
  .screenshotImageContainer {
    margin-bottom: calc(#{$defaultSpacing} * 2);
  }
}