@import 'variables';

.screenshotImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 20/14; // NOTE, this is only supported by modern browsers
  // height: 0;
  // padding-bottom: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshotScrollContainer {
  &.scrollable {
    position: absolute;
    aspect-ratio: 16/10;
    width: 80%;
    overflow: scroll;
  }
  &.fullscreen {
    width: 100%;
    overflow: hidden;
  }
}

.screenshotImage {
  height: auto !important;
}