// Breakpoints (mobile-first)
$desktop_breakpoint: 600px;

// Transitions
$opacityTransition: opacity 300ms cubic-bezier(.33,0,.2,1);

// Z-index
$topLayer: 999;

// Colors
$fontColor: rgb(51, 51, 51);
$backgroundColor: rgb(248, 248, 248);
$whiteSmoke: rgb(236, 236, 236);
$eggshellWhite:rgb(240, 234, 214);
$mutedBlack: rgb(18,18,18);

// Heights
$navBar_height: 50px;

// Fonts
$desktopFontSize: 14px;

// Spacing
$defaultSpacing: 20px;
$layoutSpacing: 5vw;

// Animations
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}