// Breakpoints (mobile-first)
$desktop_breakpoint: 600px;

// Transitions
$opacityTransition: opacity 300ms cubic-bezier(.33,0,.2,1);

// Z-index
$topLayer: 999;

// Colors
$fontColor: rgb(51, 51, 51);
$backgroundColor: rgb(255, 255, 255);
$whiteSmoke: rgb(236, 236, 236);
$mutedBlack: rgb(18,18,18);
$lightGrey: rgb(227, 227, 227);

// Heights
$navBar_height: 50px;

// Nav fonts
$mobileNavFontSize: 32px;
$desktopNavFontSize: 14px;
$projectNavFontSize: 18px;

// Typography
.smallFont {
  font-size: 12px;
  letter-spacing: 0.32px;
}
.uppercase {
  text-transform: uppercase;
}

// Spacing
$defaultSpacing: 20px;
$layoutSpacing: 5vw;

// Animations
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// Grid system
.grid {
  border: 1px dashed;
  display: grid;
  --grid-gutter: calc(var(--gutter, 4vw) - 11.0px);
  --cell-max-width: calc( ( var(--max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
  --inset-padding: 0vw;
  --row-height-scaling-factor: 0.0215;
  --container-width: min(var(--max-width, 1500px), calc(100vw - var(--gutter, 4vw) * 2 - var(--inset-padding) ));
  grid-template-rows: repeat(10,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
  grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(24, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
}

// Images
.image {
  object-fit: cover;
  position: relative !important;
  top: 0;
  left: 0;
  transition: $opacityTransition;

  &.loading {
    scale: 1.1;
    filter: blur(40px);
  }
  &.loaded {
    scale: 1;
    filter: blur(0);
  }
}